/* universal selector */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body {
    background-color: #efefef;
    padding-top: 10vh;
}

/* navbar */

.logo {
    width: 80px;
    margin-left: 30px;
}

.navbar-container {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #fefefe;
}

.navbar-list {
    display: flex;
    gap: 20px;
    margin-right: 60px;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin-right: 20px;
}

.navbar-list a {
    text-decoration: none;
    color: #295F98;
}

.navbar-list a:hover {
    text-decoration: underline;
}

.button {
    padding: 10px;
    border: none;
    background-color: #295F98;
    color: white;
    border-radius: 5px;
    font-weight: 600;
}

.button:hover {
    background-color: #4b80b9;
}

/* home */
.home-container {
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.8rem;
    align-items: center;
}

.left-side-home p {
    font-size: 1.5rem;
}

.left-side-home span {
    font-size: 2.5rem;
}

.right-side-home img {
    width: 300px;
    border-radius: 500px;
}

.sm-container a {
    text-decoration: none;
}

.sm-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.sm-container img {
    width: 35px;
    margin-top: 20px;
}

/* about */

.about-container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.about-container p {
    width: 70%;
    text-align: center;
    font-size: 1.5rem;
}

/* skill */

.skill-container {
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.skill-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.html,
.css,
.javascript,
.figma,
.photoshop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fefefe;
    width: 140px;
    height: 230px;
    border-radius: 90px;
    padding: 10px;
}

.skill-item span {
    font-weight: bold;
    font-size: 1.7rem;
}

.skill-container img {
    width: 50px;
}

.img-skill-container {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 100px;
    background-color: #ddd;
}

/* spotify playlist */

.spotify-container {
    height: 115vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.spotify-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.indie,
.metal,
.jkt48 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.spotify-container iframe {
    height: 380px;
}

/* modal contact */

/* Full-width input fields */
input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #295F98;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container-form {
    padding: 20px;
}

.text-form {
    text-align: center;
    margin: 20px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 25px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* footer container */
.footer-container {
    background-color: #295F98;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8rem;
}

.menu-icon{
    display: none;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .nav-list{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        border-radius: 10px;
        left: 0px;
        background-color: #fefefe;
        padding: 10px;
        width: 100%;
    }

    .nav-list.active{
        display: flex;
    }

    .menu-icon{
        display: block;
        font-size: 30px;
        margin-right: 10px;
    }

    .button {
        padding: 10px;
        margin-left: 40px;
    }

    .home-container {
        height: 115vh;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 1rem;
    }

    .p-home, .h1-home{
        width: 80%;
        text-align: left;
    }

    .left-side-home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 40px;
    }

    .right-side-home img {
        width: 300px;
        border-radius: 500px;
    }

    .about-container {
        height: 100vh;
    }

    .about-container p {
        text-align: justify;
    }

    .skill-container {
        height: 200vh;
    }

    .skill-item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .spotify-container {
        height: 230vh;
    }

    .spotify-item {
        flex-direction: column;
        gap: 30px;
    }

    .logo {
        margin-left: 0px;
    }

    .modal-content {
        width: 90%;
        margin-top: 100px;
        /* Could be more or less, depending on screen size */
    }

}